body {
    text-align: center;
    background-color: darkgray;
    margin-top: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    font-size: 20px;
    /*display:grid;*/
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 0;
    height: 100%;
    background-color: dimgray;
    align-content: center;
}

h1 {
    font-size: 25px;
    font-style: oblique;
    margin-bottom: 0;
}

button {
    border-width: 0;
    width: 320px;
    height: 90px;
    color: white;
    background-color: #404040;
    font-size: 20px;
}

header {
    font-size: 50px;
    font-style: inherit;
}

label {
    align-self: center;
    width: 100%;
    display: block;
}

.line {
    width:100%;
    margin:0%;
    margin-bottom: 10px;
}

#yourscoreis {
    font-size: 25px;
}

#comment {
    margin: 10px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: darkgray;
}

#score {
    font-size:50px;

}

.result {
    width: 100%;
    display: block;
}

.filler {
    height: 820px;
}