<div class="content" id="content">
    <div class="content-margins">
        <h1>WHAT</h1>
        
        <p>THIS IS MY SITE NOW</p>
        
        <p>https://github.com/redninja106</p>
        
        <hr class="separator" />
        
        <h1>About Me</h1>
        <p>Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. Bla bla bla Blabla bla blablabla. </p>
        
        <hr class="separator" />

        <h1>Past Experience</h1>
        
        <div style="height:50vh">it's all empty here...</div>

        <hr class="separator" />

        <h1>Games</h1>
        <div style="height:50vh">it's all empty here...</div>
        
        <hr class="separator"/>

        <h1>Posts</h1>
        <div style="height:50vh">it's all empty here...</div>

        <div class="footer"></div>
    </div>
</div>

@* make room for sticky element, but only enough such that it stops at 100vh (height of page cover). *@
<div style="height:100vh"></div>

<style>
    .content-margins {
        margin-left: 12%;
        margin-right: 10%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .content {
        position: sticky;
        top: 0vh;
        width: 100%;
    }

    h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 4em;
        margin: 0px;
    }

    h2 {
        font-family: 'Roboto Mono', monospace;
        font-size: 3em;
        margin: 0px;
    }

    div {
        font-family: 'Roboto Mono', monospace;
        font-size: 1em;
    }

    .separator {
    }
</style>

@code {

}