<div class="footer">
    <div class="footer-block">
        Find me here:
        <br />
        <a class="text link" href="https://github.com/Redninja106">GitHub - redninja106</a>

    </div>

    <div class="footer-block">
        Links: 
        <br />
        <a class="text link" href="/posts" >All Posts</a>
        <br />
        <a class="text link" href="/games">All Games</a>
    </div>
</div>

<style>
    .footer {
        width: 100%;
        height: 16rem;
        background-color: rgb(20, 20, 36);
    }

    .footer-block {
        float:left;
        margin:2em;
        margin-left: 20%;
        display: block;
    }
</style>

@code {
}
