<div class="sidebar">
    <div>Sidebar not working yet...</div>
</div>

<style>
    .sidebar {
        left: 0;
        top: 0;
        width: 10%;
        height: 100%;
        position: fixed;
        z-index: 5;
        background-color: rgb(35, 35, 43);
    }
</style>

@code {
    
}
