@page "/posts/{name}"
@inject HttpClient HttpClient

<div>@((MarkupString)Content)</div>

@code {
    [Parameter]
    public string Name { get; set; }

    public string Content { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var rawContent = await PostPanelProvider.GetFileContentAsync(HttpClient, $"posts/{Name}.md");

        Content = Markdig.Markdown.ToHtml(rawContent);
    }
}
